<div class="row">
  <div class="col-md-12">
    <md-menu #appMenu="mdMenu">
      <button *ngFor="let item of maps" md-menu-item (click)="gotTo(item.id)">{{item.name}}</button>
    </md-menu>
    <button md-icon-button [mdMenuTriggerFor]="appMenu">
       <md-icon>more_vert</md-icon>
    </button>
  </div>
</div>
<leaflet-map 
  *ngIf="bounds" 
  [styleClass]="'map'" 
  [tileLayer]="mapTile" 
  [fitBounds]="bounds" 
  [imageOverlay]="image" 
  [imageBounds]="bounds">
  <leaflet-marker *ngIf="marker" [coordinates]="marker.coordinates[0]"></leaflet-marker>
  <leaflet-polyline *ngIf="polyline" [latlngs]="polyline.coordinates"></leaflet-polyline>
  <leaflet-polygon *ngIf="polygon" [latlngs]="polygon.coordinates"></leaflet-polygon>
</leaflet-map>